.mobile-menu-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 105;
}
.mobile-menu-btn .icon-close:hover,
.mobile-menu-btn .icon-close:focus {
  fill: var(--accent-color);
}
.mobile-menu-btn .icon-menu:hover,
.mobile-menu-btn .icon-menu:focus {
  fill: var(--accent-color);
}

.icon-close {
  display: none;
}
.is-open {
  .icon-close {
    display: block;
  }
  .icon-menu {
    display: none;
  }
}
.mobile-menu-icon {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding: 45px 0 50px 40px;
  background: #ffffff;
  transition-duration: 250ms;

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.is-open {
  right: 0;
}

.menu-item__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-item__link:hover,
.menu-item__link:focus {
  color: var(--accent-color);
}
.menu-item:not(:last-child) {
  margin-bottom: 32px;
}
.menu__tell {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu__mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu-socials__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);

  @media screen and (max-width: 380px) {
    font-size: 12px;
  }
}
.menu-socials {
  display: flex;

  &__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item:not(:first-child) {
    padding-left: 10px;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu-contact__item {
  margin-bottom: 32px;
}
.menu-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}
.here {
  color: var(--accent-color);
}
